/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Contenedor del título */
.title-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* Estilo del título */
h1 {
    font-size: 64px;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Contenedor de los botones */
.sidebar {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Estilo base para los botones */
.action-button {
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
    width: 250px;
    text-align: center;
}

/* Botón de editar */
.edit-button {
    background-color: #4CAF50;
}

.edit-button:hover {
    background-color: #45a049;
}

/* Botón de eliminar */
.delete-button {
    background-color: #f44336;
}

.delete-button:hover {
    background-color: #da190b;
}

/* Botón de agregar */
.add-button {
    background-color: #008CBA;
}

.add-button:hover {
    background-color: #007bb5;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro translúcido */
    justify-content: center;
    align-items: center;
}

/* Contenedor del formulario dentro del overlay */
.overlay-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

/* Input del overlay */
.overlay-content input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botones del overlay */
.overlay-content button {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.overlay-content button:first-of-type {
    background-color: #4CAF50;
    color: white;
}

.overlay-content button:first-of-type:hover {
    background-color: #45a049;
}

.overlay-content button:last-of-type {
    background-color: #f44336;
    color: white;
}

.overlay-content button:last-of-type:hover {
    background-color: #da190b;
}
body pre {
    display: none;
}






