body {
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background: #f4f4f4;
    background-size: cover;
    position: relative;
}

aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; /* Corregido */
}

section {
    width: 70%;
    display: flex;
    flex-direction: column; /* Permite que los hijos se apilen verticalmente */
    position: relative;
}

.User {
    position: absolute; /* Considera cambiar a relative si es posible */
    left: 65%;
    top: 5%;
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, #2340df, #92a0f0);
    padding: 5px 50px;
    border-radius: 30px;
    color: #f4f4f4;
}

.Title {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

.Title h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    background: linear-gradient(90deg, indigo, blueviolet, violet, pink);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;  
}

ul {
    display: flex;
    width: 80%;
    height: 500px;
    flex-direction: column;
}

ul button {
    margin: 30px;
    padding: 25px;
    background: #f1438d;
    color: #fff;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: width 0.3s;
    width: 70%;
}

ul button:hover {
    width: 80%;
}

.listas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Cambiado a relative */
    width: 60%;
    height: 70%;
    margin: auto; /* Centra el contenedor en su padre */
    top: 10%;
}

.listas-container h1 {
    height: 50px;
    text-align: center;
}

.listas {
    width: 40%;
    display: flex;
    align-items: center;
    padding: 5px;
    background: linear-gradient(45deg, blueviolet, violet);
    color: #f4f4f4;
    border-radius: 50px;
    margin: 20px;
    border: none;
    transition: 0.3s;
}

.listas:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.listas span {
    background: black;
    color: #f4f4f4;
    padding: 5px 5px;
    border-radius: 100%;
    margin-left: 5px;
}

.listas p {
    margin-left: 30px;
    font-size: 1rem;
}

#list-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    background: #f4f4f4;
    box-shadow: 10px 10px 30px #333;
}

#cancelar {
    margin-top: 20px;
    background-color: red;
    padding: 10px 20px;
    color: #f4f4f4;
    border: none;
    cursor: pointer;
}

#submit {
    margin-top: 20px;
    background-color: #1fd655;
    padding: 10px 20px;
    color: #f4f4f4;
    border: none;
    cursor: pointer;
}

#list-name {
    margin-top: 20px;
    padding: 10px;
    font-size: 1rem;
}

#list-form label {
    font-size: 1.5rem;
    font-weight: bolder;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px); 
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Aumentado para asegurarse de que está sobre otros elementos */
}

#btn-section {
    width: 30%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 80%;
    left: 20%;
}

#btn-section button {
    display: none;
    font-size: 1.3rem;
    font-weight: lighter;
    background: #f4f4f4;
    padding: 5px 10px;
    border: none;
    color: gray;
    cursor: pointer;
    transition: 0.3s ease;
}

#btn-section button:hover {
    color: #333;
}
